.logo {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 36px;
}
.delete-logo {
  height: 20px;
}
.time {
  margin-bottom: 0px;
  margin-left: 6px;
  font-size: 10px;
}
.list-item {
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;

  align-items: center;
}
.domain-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-left: 0;
  font-size: 16px;
  margin-left: 10px;
}
.domain-delete {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .list-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    margin-left: 0px;
    margin-bottom: 0px;
  }
}
@media (min-width: 768px) {
  .domain-delete {
    width: 700px;
  }
  .label-title {
    text-align: left;
    display: flex;
    align-items: center;
  }
  .title {
    width: 200px;
    font-size: 16px;
    margin-left: 4px;
    margin-right: 10px;
  }
  .time {
    font-size: 16px;
    margin-top: 0;

    width: 100px;
  }
}
